* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin-bottom: 30px;
}
.wrapper h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 27px;
}

.wrapper p, .wrapper li {
    margin-bottom: 10px;
    font-size: 16px;
}

.header {
    background: #008040;
    color: white;
}

.center {
    width: 840px;
    padding: 10px;
    margin: 0 auto;
}

.header h1 {
    font-size: 35px;
    margin-bottom: 7px;
    text-align: center;
}

.header p {
    font-size: 21px;
    margin-bottom: 5px;
    text-align: center;
}

.services {
    background-color: white;
}

.contact {
    background-color: #C60304;
    color: #fff;
}

.contact p {
    text-align: center;
}

.company {
    background-color: #fff;
}

.footer {
    padding-top: 100px;
    background: #FF8040;
    color: white;
    text-align: center;
    font-size: 13px;
}






