div {
    width: 700px;
    text-align: justify;
    border: 1px solid black;
    margin: 50px auto;
    height: 100%;
}
.img-1 {
    float: left;
    margin: 30px 30px;
}
.img-2 {
    float: right;
    margin: 30px 30px;
}
p {
    padding: 30px;
}