form {
    margin: 10px 0;
}

.input {
    border: 1px solid red;
}

.input1 {
    padding: 5px 0;
    margin: 10px 0;
}

input {
    color: red;
}

#name, #age {
    padding: 5px 0;
    margin: 5px 0;
}
p {
    color: #0000;
}